.title {
    text-align: center;
}

.text {
    max-width: 500px;
    margin: auto;
}


.images {
    display: block; /* Makes the image a block element */
    margin-left: auto; /* Auto margins to center */
    margin-right: auto;
    width:500px; /* you can use % */
    height: auto;
}